/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

/* common styles */
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.header {
  padding: 87px 120px;
}
.hidden {
  display: none;
}
/*--------------- 
nav styles 
-----------------*/
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
}
.nav-items {
  display: flex;
  gap: 34px;
  align-items: center;
}
.nav-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
}

/* banner styles */
.banner {
  display: flex;
  gap: 135px;
  margin-top: 50px;
  /* justify-content: space-between; */
  align-items: center;
}
.banner-info .banner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 52px;
}
.banner-info .banner-subtitle {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.banner-info .banner-button {
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
}
.banner .banner-img {
  width: 475px;
  height: 475px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner .banner-img img {
  width: 440px;
  height: 414px;
  position: relative;
  transform: translate(0, 28px);
}
/* Media quries */
/* Mobile device */
@media only screen and (max-width: 688px) {
  .header {
    padding: 35px 16px;
  }
  nav {
    align-items: center;
  }
  .nav .nav-menu {
    font-size: 22px;
    display: block;
  }
  .nav-items .nav-item-6 a i {
    font-size: 22px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 14px;
  }
  .banner-info {
    text-align: center;
  }
  .banner-info .banner-title {
    font-size: 28px;
  }
  .banner-info .banner-subtitle {
    font-size: 14px;
  }
  .banner .banner-img {
    width: 257px;
    height: 257px;
  }
  .banner .banner-img img {
    width: 202px;
    height: 190px;
    transform: translate(25px, 45px);
  }
  .hide {
    display: none;
  }
}
